body {
    font-family: 'VT323', monospace;
    line-height: 60%;
    font-weight: bolder;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}
#tauler{
    color: #0022ff;
}
.jugador {
  color: yellow;
}

.fantasma {
  color: red;
}
